APP_DOMAIN=77-239-101-72.sslip.io
ACME_EMAIL=admin@example.com
REGISTRY_IMAGE=ghcr.io/giviruk/genesysforge
IMAGE_TAG=latest
POSTGRES_DB=genesys_forge
POSTGRES_USER=genesys_forge
POSTGRES_PASSWORD=change-me
